build
*.zip
*.tgz
*.sw?
onnxruntime-*
icefall-*
run.sh
__pycache__
dist/
sherpa_onnx.egg-info/
.DS_Store
build-aarch64-linux-gnu
build-arm-linux-gnueabihf
sherpa-onnx-streaming-zipformer-*
sherpa-onnx-lstm-en-*
sherpa-onnx-lstm-zh-*
build-android-arm64-v8a/
build-android-armv7-eabi/
build-android-x86-64/
a.txt
run-bilingual*.sh
run-*-zipformer.sh
run-zh.sh
decode-file-c-api
offline-tts-c-api
run-decode-file-c-api.sh
sherpa-onnx-ffmpeg
build-ios
build-swift-macos
aa.sh
client-2.sh
ffmpeg-examples/run-3.sh
python-api-examples/decode-file-multiple-bak-2.py
run-en-zipformer-microphone*
run-websocket-server*
decode-file
*.dylib
tokens.txt
*.onnx
log.txt
tags
run-decode-file-python.sh
android/SherpaOnnx/app/src/main/assets/
*.ncnn.*
run-sherpa-onnx-offline.sh
sherpa-onnx-conformer-en-2023-03-18
paraformer-onnxruntime-python-example
run-sherpa-onnx-offline-paraformer.sh
run-sherpa-onnx-offline-transducer.sh
sherpa-onnx-paraformer-zh-2023-03-28
run-offline-websocket-server-paraformer.sh
run-*int8.sh
a.sh
run-offline-websocket-client-*.sh
run-sherpa-onnx-*.sh
sherpa-onnx-zipformer-en-2023-03-30
sherpa-onnx-zipformer-en-2023-04-01
run-offline-decode-files.sh
sherpa-onnx-nemo-ctc-en-citrinet-512
sherpa-onnx-streaming-paraformer-bilingual-zh-en
run-offline-decode-files-nemo-ctc.sh
sherpa-onnx-nemo-ctc-*
*.wav
sherpa-onnx-zipformer-*
sherpa-onnx-conformer-*
sherpa-onnx-whisper-*
swift-api-examples/k2fsa-*
run-*.sh
two-pass-*.sh
build-*

## User settings
xcuserdata/

## Xcode 8 and earlier
*.xcscmblueprint
*.xccheckout
vits-vctk
vits-zh-aishell3
jslint.mjs
vits-piper-en_US-amy-low
vits-piper-*-*-*
log
*.exe
vits-piper-*
vits-coqui-*
vits-mms-*
*.tar.bz2
sherpa-onnx-paraformer-trilingual-zh-cantonese-en
sr-data
*xcworkspace/xcuserdata/*

vits-icefall-*
sherpa-onnx-punct-ct-transformer-zh-en-vocab272727-2024-04-12
spoken-language-identification-test-wavs
my-release-key*
vits-zh-hf-fanchen-C
sherpa-onnx-kws-zipformer-wenetspeech-3.3M-2024-01-01
*.dll
*.lib
*.tar.gz
*.tar.bz2
*.zip
sherpa-onnx-ced-*
node_modules
package-lock.json
sherpa-onnx-nemo-*
sherpa-onnx-vits-*
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/af_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/am_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/an_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/ar_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/as_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/az_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/ba_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/be_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/bg_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/bn_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/bpy_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/bs_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/ca_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/chr_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/cmn_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/cs_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/cv_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/cy_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/da_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/de_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/el_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/en_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/eo_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/es_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/et_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/eu_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/fa_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/fi_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/fr_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/ga_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/gd_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/gn_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/grc_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/gu_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/hak_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/haw_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/he_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/hi_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/hr_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/ht_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/hu_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/hy_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/ia_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/id_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/intonations
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/io_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/is_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/it_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/ja_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/jbo_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/ka_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/kk_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/kl_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/kn_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/ko_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/kok_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/ku_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/ky_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/la_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lb_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lfn_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lt_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lv_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/mi_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/mk_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/ml_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/mr_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/ms_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/mt_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/mto_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/my_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/nci_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/ne_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/nl_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/no_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/nog_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/om_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/or_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/pa_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/pap_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/phondata
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/phondata-manifest
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/phonindex
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/phontab
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/piqd_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/pl_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/pt_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/py_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/qdb_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/qu_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/quc_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/qya_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/ro_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/ru_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/sd_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/shn_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/si_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/sjn_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/sk_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/sl_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/smj_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/sq_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/sr_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/sv_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/sw_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/ta_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/te_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/th_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/tk_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/tn_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/tr_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/tt_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/ug_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/uk_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/ur_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/uz_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/vi_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/yue_dict
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/eu
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/ko
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/qu
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/aav/vi
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/aav/vi-VN-x-central
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/aav/vi-VN-x-south
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/art/eo
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/art/ia
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/art/io
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/art/jbo
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/art/lfn
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/art/piqd
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/art/py
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/art/qdb
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/art/qya
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/art/sjn
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/azc/nci
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/bat/lt
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/bat/ltg
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/bat/lv
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/bnt/sw
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/bnt/tn
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/ccs/ka
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/cel/cy
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/cel/ga
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/cel/gd
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/cus/om
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/dra/kn
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/dra/ml
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/dra/ta
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/dra/te
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/esx/kl
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/gmq/da
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/gmq/is
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/gmq/nb
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/gmq/sv
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/gmw/af
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/gmw/de
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/gmw/en
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/gmw/en-029
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/gmw/en-GB-scotland
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/gmw/en-GB-x-gbclan
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/gmw/en-GB-x-gbcwmd
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/gmw/en-GB-x-rp
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/gmw/en-US
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/gmw/en-US-nyc
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/gmw/lb
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/gmw/nl
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/grk/el
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/grk/grc
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/inc/as
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/inc/bn
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/inc/bpy
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/inc/gu
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/inc/hi
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/inc/kok
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/inc/mr
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/inc/ne
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/inc/or
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/inc/pa
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/inc/sd
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/inc/si
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/inc/ur
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/ine/hy
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/ine/hyw
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/ine/sq
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/ira/fa
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/ira/fa-Latn
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/ira/ku
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/iro/chr
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/itc/la
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/jpx/ja
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/map/haw
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/miz/mto
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/myn/quc
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/poz/id
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/poz/mi
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/poz/ms
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/roa/an
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/roa/ca
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/roa/es
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/roa/es-419
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/roa/fr
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/roa/fr-BE
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/roa/fr-CH
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/roa/ht
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/roa/it
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/roa/pap
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/roa/pt
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/roa/pt-BR
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/roa/ro
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/sai/gn
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/sem/am
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/sem/ar
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/sem/he
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/sem/mt
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/sit/cmn
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/sit/cmn-Latn-pinyin
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/sit/hak
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/sit/my
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/sit/yue
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/sit/yue-Latn-jyutping
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/tai/shn
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/tai/th
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/trk/az
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/trk/ba
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/trk/cv
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/trk/kk
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/trk/ky
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/trk/nog
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/trk/tk
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/trk/tr
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/trk/tt
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/trk/ug
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/trk/uz
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/urj/et
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/urj/fi
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/urj/hu
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/urj/smj
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/zle/be
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/zle/ru
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/zle/ru-cl
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/zle/ru-LV
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/zle/uk
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/zls/bg
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/zls/bs
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/zls/hr
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/zls/mk
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/zls/sl
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/zls/sr
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/zlw/cs
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/zlw/pl
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/lang/zlw/sk
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/voices/!v/adam
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/voices/!v/Alex
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/voices/!v/Alicia
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/voices/!v/Andrea
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/voices/!v/Andy
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/voices/!v/anika
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/voices/!v/anikaRobot
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/voices/!v/Annie
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/voices/!v/announcer
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/voices/!v/antonio
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/voices/!v/AnxiousAndy
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/voices/!v/aunty
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/voices/!v/belinda
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/voices/!v/benjamin
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/voices/!v/boris
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/voices/!v/caleb
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/voices/!v/croak
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/voices/!v/david
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/voices/!v/Demonic
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/voices/!v/Denis
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/voices/!v/Diogo
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/voices/!v/ed
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/voices/!v/edward
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/voices/!v/edward2
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/voices/!v/f1
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/voices/!v/f2
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/voices/!v/f3
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/voices/!v/f4
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/voices/!v/f5
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/voices/!v/fast
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/voices/!v/Gene
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/voices/!v/Gene2
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/voices/!v/grandma
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/voices/!v/grandpa
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/voices/!v/gustave
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/voices/!v/Henrique
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/voices/!v/Hugo
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/voices/!v/ian
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/voices/!v/iven
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/voices/!v/iven2
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/voices/!v/iven3
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/voices/!v/iven4
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/voices/!v/Jacky
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/voices/!v/john
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/voices/!v/kaukovalta
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/voices/!v/klatt
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/voices/!v/klatt2
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/voices/!v/klatt3
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/voices/!v/klatt4
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/voices/!v/klatt5
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/voices/!v/klatt6
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/voices/!v/Lee
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/voices/!v/linda
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/voices/!v/m1
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/voices/!v/m2
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/voices/!v/m3
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/voices/!v/m4
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/voices/!v/m5
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/voices/!v/m6
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/voices/!v/m7
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/voices/!v/m8
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/voices/!v/marcelo
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/voices/!v/Marco
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/voices/!v/Mario
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/voices/!v/max
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/voices/!v/Michael
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/voices/!v/michel
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/voices/!v/miguel
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/voices/!v/Mike
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/voices/!v/mike2
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/voices/!v/Mr serious
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/voices/!v/Nguyen
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/voices/!v/norbert
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/voices/!v/pablo
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/voices/!v/paul
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/voices/!v/pedro
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/voices/!v/quincy
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/voices/!v/Reed
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/voices/!v/RicishayMax
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/voices/!v/RicishayMax2
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/voices/!v/RicishayMax3
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/voices/!v/rob
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/voices/!v/robert
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/voices/!v/robosoft
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/voices/!v/robosoft2
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/voices/!v/robosoft3
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/voices/!v/robosoft4
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/voices/!v/robosoft5
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/voices/!v/robosoft6
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/voices/!v/robosoft7
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/voices/!v/robosoft8
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/voices/!v/sandro
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/voices/!v/shelby
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/voices/!v/steph
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/voices/!v/steph2
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/voices/!v/steph3
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/voices/!v/Storm
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/voices/!v/travis
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/voices/!v/Tweaky
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/voices/!v/UniRobot
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/voices/!v/victor
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/voices/!v/whisper
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/voices/!v/whisperf
android/SherpaOnnxTts/app/src/main/assets/models/espeak-ng-data/voices/!v/zac
